<!DOCTYPE html>
<html>
   <head>
      <title><%= videoFile %></title>
   </head>
   <body>
      <video src="<%= videoFile %>"
             controls>
      </video>
      <img src="<%= videoFile %>">
  </body>
</html>
